@layer theme {
	@import "tailwindcss/theme.css";
}

@layer base {
	.twp {
		@import "tailwindcss/preflight.css";
	}

	.no-twp {
		*,
		::after,
		::before,
		::backdrop,
		::file-selector-button {
			all: revert-layer;
		}
	}
}

@layer components;

@layer utilities {
	@import "tailwindcss/utilities.css";
}

// #cursed
@font-face {
	font-family: "DINish";
	font-weight: 300 900;
	font-stretch: 75% 125%;
	font-display: swap;
	font-style: normal;
	font-variation-settings: "slnt" 0deg;
	src: url("/fonts/DINish/DINish[slnt,wdth,wght].woff2") format("woff2");
}
@font-face {
	font-family: "DINish";
	font-weight: 300 900;
	font-stretch: 75% 125%;
	font-display: swap;
	font-style: italic;
	font-variation-settings: "slnt" -12deg;
	src: url("/fonts/DINish/DINish[slnt,wdth,wght].woff2") format("woff2");
}
@font-face {
	font-family: "MN Celesta";
	src: url("/fonts/MNCelesta/MNCelesta-Regular.woff2") format("woff2"), url("/fonts/MNCelesta/MNCelesta-Regular.woff") format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "MN Celesta";
	src: url("/fonts/MNCelesta/MNCelesta-Italic.woff2") format("woff2"), url("/fonts/MNCelesta/MNCelesta-Italic.woff") format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

:root {
	--font-body: "DINish", system-ui;
	--font-mono: "Iosevka Mint Expanded", "Cascadia Code", monospace;
	--font-serif: "MN Celesta", serif;
	--base-body-size: 16;
}

html {
	font-size: 16px;
}

html,
body,
button,
input,
label,
[data-sonner-toast] {
	font-family: var(--font-body);
	font-stretch: normal;
}

code {
	font-family: var(--font-mono);
	font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-serif);
	font-stretch: ultra-condensed;
}

.card__title {
	font-size: 1.25em;
}

.checkbox-input label.field-label {
	font-size: 1rem;
	padding-bottom: 0;
}

.date-time-picker .react-datepicker__navigation {
	top: 12px;
}

.react-datepicker__month {
	margin: 0;
}
.date-time-picker .react-datepicker__header__dropdown,
.date-time-picker .react-datepicker-year-header {
	padding: 9px 0 10px;
}
.react-datepicker__day-names {
	background-color: transparent;
	border-top: 1px solid var(--theme-elevation-150);
	border-bottom: 1px solid var(--theme-elevation-150);
	.react-datepicker__day-name {
		margin: 1px 0 3px 0;
		width: 40px;
	}
}
.react-datepicker__month .react-datepicker__day {
	margin: 0;
	box-shadow: none;
	width: 40px;
	font-size: 0.9rem;
	line-height: 28px;
	padding-bottom: 2px;
}
.react-datepicker__month .react-datepicker__week:nth-of-type(even) {
	background-color: #8888880a;
}

.date-time-picker .react-datepicker__month-select,
.date-time-picker .react-datepicker__year-select {
	font-family: var(--font-body);
	font-size: 0.9rem;
}

.react-datepicker__time-list-item,
.popup-button-list__button {
	font-size: 1rem;
}

.react-datepicker__day--outside-month {
	color: var(--theme-elevation-300);
}

.inline-toolbar-popup .caret {
	top: calc(100% - 34px);
}

.rich-text-lexical .editor-container,
.LexicalEditorTheme__listItem,
.LexicalEditorTheme__paragraph {
	font-family: var(--font-body);
	font-size: 1rem;
}

.LexicalEditorTheme__listItemChecked::after {
	top: 5px;
	left: 8px;
	right: 7px;
	width: 5px;
	height: 10px;
}

.LexicalEditorTheme__textItalic {
	font-variation-settings: "slnt" -12;
}

@layer payload-default {
	.nav-toggler {
		.hamburger {
			padding: 3px 3px 3px 3px;
			z-index: 9999;
			width: 27px;
			height: 27px;
			border-radius: 100%;
			box-shadow: none;
			background-color: var(--theme-elevation-50);
			&:hover {
				box-shadow: none;
				background-color: var(--theme-elevation-100);
			}
			&:active {
				box-shadow: none;
				background-color: var(--theme-elevation-150);
			}
			.hamburger__open-icon {
				width: 21px;
				height: 21px;
			}
			.hamburger__open-icon svg {
				width: 20px;
				height: 21px;
				transform: translateX(-0.5px);
				path {
					stroke-linecap: butt !important;
				}
			}
			.hamburger__close-icon,
			.hamburger__close-icon svg {
				width: 21px;
				height: 21px;
			}
		}
	}
	.collection-list .table {
		width: 100%;
	}
	// Media tables as a grid
	.collection-list--assets table,
	.collection-list--artwork table,
	.collection-list--photos table {
		min-width: calc(100% + var(--gutter-h) * -1) !important;
		thead {
			display: inline-block;
			width: inherit;
			max-width: calc(100vw + var(--gutter-h) * -2) !important;
			overflow: auto;
			tr {
				display: inline-flex;
				width: 100%;
				th {
					display: inline-block;
					width: max-content;
					padding: 16px 8px;
					&:first-child {
						padding-inline-start: 0;
					}
					&#heading-_select {
						flex-grow: 1;
					}
					&:last-child {
						padding-inline-end: 0;
					}
					.sort-column {
						display: flex;
						gap: 12px;
						align-items: center;
						justify-content: space-between;
					}
				}
			}
		}
		tbody {
			display: grid;
			gap: 20px;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			@media (min-width: 768px) {
				grid-template-columns: repeat(4, minmax(0, 1fr));
			}
			@media (min-width: 1024px) {
				grid-template-columns: repeat(6, minmax(0, 1fr));
			}
			@media (min-width: 1536px) {
				grid-template-columns: repeat(8, minmax(0, 1fr));
			}
			@media (min-width: 2560px) {
				grid-template-columns: repeat(12, minmax(0, 1fr));
			}
			tr {
				position: relative;
				display: flex;
				flex-direction: column;
				gap: 4px;
				padding-bottom: 8px;
				background-color: transparent;
				color: var(--theme-elevation-500);
				font-size: 12px;
				border-radius: var(--style-radius-m);
				text-align: center;
				border: 1px solid var(--theme-elevation-150);
				transition: all 0.1s;
				box-shadow: 0 2px 2px -1px #0000001a;
				&:hover {
					border: 1px solid var(--theme-elevation-250);
					td.cell-_select {
						opacity: 1;
					}
					.file__thumbnail {
						border-bottom-color: var(--theme-elevation-250) !important;
					}
				}
				&:has(.checkbox-input--checked) {
					.file__thumbnail,
					a.mina-artwork-thumbnail {
						background-color: var(--theme-elevation-100) !important;
						padding: 10px;
					}
				}
				&:nth-child(2n + 1) {
					border-radius: var(--style-radius-m);
					background: transparent;
				}
				td {
					padding: 0;
					min-width: unset;
					padding-inline-start: 0 !important;
					padding-inline-end: 0 !important;
					span:not(.check) {
						line-height: 1.25em;
						padding: 0px 10px;
						width: 100%;
						text-align: center;
						overflow: hidden;
						text-overflow: ellipsis;
						text-wrap: nowrap;
						width: 100%;
						span {
							padding: 0;
						}
					}
					&.cell-_select {
						position: absolute;
						padding: 10px !important;
						z-index: 10;
						opacity: 0;
						transition: opacity 0.1s;
						&:has(.checkbox-input--checked) {
							opacity: 1;
						}
					}
					&.cell-filename,
					&.cell-image {
						.file {
							display: flex;
							flex-direction: column;
							font-size: 13px;
						}
						.default-cell__first-cell {
							width: 100%;
						}
						.file__thumbnail {
							position: relative;
							width: 100%;
							max-width: 100%;
							height: auto;
							max-height: unset;
							border-radius: 3px 3px 0 0;
							border-bottom: 1px solid var(--theme-elevation-150);
							transition: all 0.1s;
							background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202%202%22%3E%3Cpath%20d%3D%22M2%202V1H0V0h1v2z%22%20fill%3D%22%238881%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
							background-repeat: repeat;
							background-size: 10%;
							img {
								position: inherit;
								width: 100%;
								height: 100%;
								object-fit: contain;
							}
						}
						.file__filename {
							margin: 8px 0 0 0;
							color: var(--theme-elevation-800);
						}
					}
				}
			}
		}
	}
	.collection-list--assets table .file__thumbnail {
		aspect-ratio: 16 / 9;
	}
	.collection-list--artwork table .file__thumbnail {
		aspect-ratio: 1 / 1;
	}
	.collection-list--photos table .file__thumbnail {
		aspect-ratio: 3 / 2;
	}
}
