@font-face {
	font-family: "Noto Serif";
	font-weight: 100 900;
	font-stretch: 62.5% 100%;
	font-display: swap;
	font-style: normal;
	src: url("NotoSerif-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Serif";
	font-weight: 100 900;
	font-stretch: 62.5% 100%;
	font-display: swap;
	font-style: italic;
	src: url("NotoSerif-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}
