@font-face {
	font-family: "Instrument Serif";
	src: url("InstrumentSerif-Regular.woff2") format("woff2"), url("InstrumentSerif-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Instrument Serif";
	src: url("InstrumentSerif-Italic.woff2") format("woff2"), url("InstrumentSerif-Italic.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}
