@font-face {
	font-family: "Mint Triangles";
	src: url("minttriangles.eot");
	src: url("minttriangles.eot?#iefix") format("embedded-opentype"), url("minttriangles.woff2") format("woff2"),
		url("minttriangles.woff") format("woff"), url("minttriangles.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
