@font-face {
	font-family: "Roboto Serif";
	font-weight: 100 900;
	font-stretch: 50% 150%;
	: swap;
	font-style: normal;
	src: url("RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Serif";
	font-weight: 100 900;
	font-stretch: 50% 150%;
	: swap;
	font-style: italic;
	src: url("RobotoSerif-Italic-VariableFont_GRAD,opsz,wdth,wght.ttf") format("truetype");
}
