@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-link {
  @apply font-medium text-neutral-950 dark:text-white underline decoration-1 decoration-dotted hover:decoration-solid decoration-neutral-950/50 dark:decoration-white/50 hover:decoration-neutral-950 dark:hover:decoration-white duration-100 underline-offset-2;
}

@utility text-link-external {
  @apply font-medium text-blue underline decoration-1 decoration-dotted hover:decoration-solid decoration-blue/50 hover:decoration-blue duration-100 underline-offset-2;
}

@utility font-stretch-ultra-condensed {
  font-stretch: ultra-condensed;
}

@utility font-stretch-extra-condensed {
  font-stretch: extra-condensed;
}

@utility font-stretch-condensed {
  font-stretch: condensed;
}

@utility font-stretch-semi-condensed {
  font-stretch: semi-condensed;
}

@utility font-stretch-normal {
  font-stretch: normal;
}

@utility font-stretch-semi-expanded {
  font-stretch: semi-expanded;
}

@utility font-stretch-expanded {
  font-stretch: expanded;
}

@utility font-stretch-extra-expanded {
  font-stretch: extra-expanded;
}

@utility font-stretch-ultra-expanded {
  font-stretch: ultra-expanded;
}

@utility italic {
  font-style: italic;
  font-variation-settings: 'slnt' -12; /* For DINish font. */
}

@utility pixelated {
  image-rendering: pixelated;
}

@layer base {
	h1 {
		@apply text-neutral-950 dark:text-white tracking-tight font-serif text-4xl md:text-5xl lg:text-6xl xl:text-8xl pb-3;
	}
	h2 {
		@apply text-neutral-950 dark:text-white font-serif text-3xl md:text-4xl lg:text-5xl pb-3;
	}
	h3 {
		@apply text-neutral-950 dark:text-white font-serif text-2xl md:text-3xl lg:text-4xl pb-1;
	}
	h4 {
		@apply text-neutral-950 dark:text-white font-serif text-xl md:text-2xl lg:text-3xl pb-1;
	}
	h5 {
		@apply text-neutral-950 dark:text-white font-serif text-lg md:text-xl lg:text-2xl pb-1;
	}
	h6 {
		@apply text-neutral-950 dark:text-white font-serif md:text-lg lg:text-xl pb-1;
	}
}

li.nestedListItem ul.list-bullet {
	margin: 0 0 0 16px;
	font-size: 0.9em;
	
	li::marker {
		content: "▪ ";
	}
}

:focus-visible {
	outline: 2px #4b5 dotted;
}

img {
	user-select: none;
}

body {
	font-variant-ligatures: normal;
	font-feature-settings: "tnum", "liga";
}

p:not(:last-of-type) {
	margin-bottom: 12px;
}
