@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply font-display text-neutral-50 text-4xl md:text-5xl lg:text-6xl xl:text-7xl pb-3;
	}
	h2 {
		@apply font-display text-neutral-50 text-3xl md:text-4xl pb-3;
	}
	h3 {
		@apply font-display text-neutral-50 text-2xl md:text-3xl pb-1;
	}
	h4 {
		@apply font-display text-neutral-50 text-xl md:text-2xl pb-1;
	}
	h5 {
		@apply font-display text-neutral-50 text-lg md:text-xl pb-1;
	}
}

@layer components {
	.text-link {
		@apply font-medium text-neutral-50 underline decoration-2 decoration-dotted hover:decoration-solid decoration-neutral-50/50 hover:decoration-neutral-50 duration-100;
	}
	.text-link-external {
		@apply font-medium text-blue underline decoration-2 decoration-dotted hover:decoration-solid decoration-blue/50 hover:decoration-blue duration-100;
	}
}

:focus-visible {
	outline: 2px #0c6 dotted;
}

p:not(:last-of-type) {
	margin-bottom: 0.75rem;
}

img {
	user-select: none;
}
