@import "tailwindcss";

@config '../tailwind.config.js';

@layer base {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

@utility text-link {
	@apply font-medium text-neutral-950 dark:text-white underline decoration-1 decoration-dotted hover:decoration-solid decoration-neutral-950/50 dark:decoration-white/50 hover:decoration-neutral-950 dark:hover:decoration-white duration-100 underline-offset-2;
}

@utility text-link-external {
	@apply font-medium text-blue underline decoration-1 decoration-dotted hover:decoration-solid decoration-blue/50 hover:decoration-blue duration-100 underline-offset-2;
}

@utility italic {
	font-style: italic;
	font-variation-settings: "slnt" -12; /* For DINish font. */
}

@utility pixelated {
	image-rendering: pixelated;
}

@layer base {
	h1 {
		@apply text-neutral-950 dark:text-white tracking-tight font-serif text-4xl md:text-5xl lg:text-6xl xl:text-8xl pb-3;
	}
	h2 {
		@apply text-neutral-950 dark:text-white font-serif text-3xl md:text-4xl lg:text-5xl pb-3;
	}
	h3 {
		@apply text-neutral-950 dark:text-white font-serif text-2xl md:text-3xl lg:text-4xl pb-1;
	}
	h4 {
		@apply text-neutral-950 dark:text-white font-serif text-xl md:text-2xl lg:text-3xl pb-1;
	}
	h5 {
		@apply text-neutral-950 dark:text-white font-serif text-lg md:text-xl lg:text-2xl pb-1;
	}
	h6 {
		@apply text-neutral-950 dark:text-white font-serif md:text-lg lg:text-xl pb-1;
	}
}

@theme {
	--breakpoint-3xl: 120rem;
}

li.nestedListItem ul.list-bullet {
	margin: 0 0 0 16px;
	font-size: 0.9em;

	li::marker {
		content: "▪ ";
	}
}

img {
	user-select: none;
}

body {
	font-variant-ligatures: normal;
	font-feature-settings: "tnum", "liga";
}

p:not(:last-of-type) {
	margin-bottom: 12px;
}
